fastapi
uvicorn[standard]
psycopg2-binary
python-dotenv
requests
beautifulsoup4
lxml
pandas
numpy
scikit-learn
xgboost
statsmodels
yfinance
streamlit
streamlit
psycopg[binary]
pydantic-settings

httpx
